# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Some Model files 
kbasechatassistant/models/*v1.py

# Assistant Files
kbasechatassistant/assistant/*v1.py
